#about-panel{
    margin-top: 20px;
}
.title-testimonial{
    background-color:#0275D8;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    margin-bottom: 0;
}



.grupo-radio{
    width: 30%;
    display: inline-block;    
    vertical-align: top;
}

.grupo-radio:first-child{
  margin-top: 0;  
}
.contato-select{
    width:50%;
    display: inline-block;  
    vertical-align: top;
}